.profile__info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: min-content;
    gap: 16px 18px;
    align-items: baseline;
    margin: 0 0 0 30px;
}

@media screen and (max-width: 1040px) {
  .profile__info {
    margin: 26px auto 0 auto;
  }
}

@media screen and (max-width: 568px) {
    .profile__info {
        gap: 5px 14px;
    }
}