.popup__close {
    background-image: url(../../../images/close.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -40px;
    right: -40px;
}

@media screen and (max-width: 568px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }    
}