.element__delete {
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(../../../images/trash.svg);
    height: 19px;
    width: 18px;
    background-color: transparent;
    border: none;
}